{% extends 'public/base.html' %}
{% block title %} 入库 {% endblock %}
{% block script %} <script src="/static/js/store_in.js?v=1.01"> </script>{% endblock %}
{% block style %}{% endblock %}

{# 主体内容#}

{% block content %}
    <div class="content-wrapper" id="app">
        <!-- 面包屑导航 -->
        <section class="content-header"><h1>仓库> 入库管理</h1></section>
        <!-- 主画面展示 -->
        <section class="content">
               <!-- 查询-->
               {% include 'base/store/store_in/searchForm.html' %}
               <!-- 主画面-->
               {% include 'base/store/store_in/mainTable.html' %}
        </section>
    </div>
{% endblock %}





















