<el-dialog title="产品-编辑" :visible.sync="editFormDialogVisible"
           class="dialog" :append-to-body="true" width="30%">
    <el-form :model="editFormData" :rules="addOrEditFormDataRules" ref="editForm"
             label-width="100px" size="mini">

        <el-form-item label="产品编号" prop="apn_cd">
            <el-input style="width:180px" v-model="editFormData.apn_cd" maxlength="32"></el-input>
        </el-form-item>

        <el-form-item label="产品英文名" prop="apn_text_en">
            <el-input style="width:180px" v-model="editFormData.apn_text_en" maxlength="8"></el-input>
        </el-form-item>

        <el-form-item label="产品中文名" prop="apn_text_cn">
            <el-input style="width:180px" v-model="editFormData.apn_text_cn"  maxlength="36"></el-input>
        </el-form-item>

    </el-form>

    <div slot="footer" class="dialog-footer">
        <el-button 
        type="success"
        @click="doEdit('editForm')"
        v-loading.fullscreen.lock="fullscreenLoading" size="mini">确 定</el-button>
        <el-button @click="editFormDialogVisible = false" size="mini">取 消</el-button>
    </div>
</el-dialog>